@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.img img {
  width: 50px;
}
.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}
.sticky {
  position: absolute;
  width: 80%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.421);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin-left: 150px;
  box-shadow: 0px 0px 6px 0px;
  z-index: 3;
}
.img {
  width: 120px;
  margin-top: 8px;
}

nav ul {
  display: flex;
}
nav ul li p {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 900;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  cursor: pointer;
}
nav ul li p:hover {
  background-color: #212526;
  color: #fff;
}
.toggle {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.toggle:hover {
  background-color: #f6f4ff;
}
.toggle div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background-color: #212526;
}

@media screen and (max-width: 1100px) {
  .sticky {
    width: 80%;
    padding: 0 20px;
    margin-left: 100px;
  }
  nav {
    position: absolute;
    left: -1450px;
    top: 70px;
    z-index: 100;
    width: 100%;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.421);
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav-check:checked ~ nav {
    left: 0;
  }
  .img {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li p {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .toggle {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .sticky {
    width: 80%;
    padding: 0 20px;
    margin-left: 90px;
  }
  nav {
    height: 25vh;
  }
}

@media screen and (max-width: 750px) {
  .sticky {
    width: 80%;
    padding: 0 20px;
    margin-left: 65px;
  }
  nav {
    height: 25vh;
  }
}
@media screen and (max-width: 540px) {
  .sticky {
    width: 80%;
    padding: 0 20px;
    margin-left: 40px;
  }
  .img img {
    width: 40px;
  }
}

@media screen and (max-width: 530px) {
  header {
    padding: 0;
  }
  header img {
    width: 100px;
  }
}
@media screen and (max-width: 420px) {
  .sticky {
    width: 80%;
    padding: 0 20px;
    margin-left: 30px;
  }
  .img img {
    width: 40px;
  }
  nav {
    height: 40vh;
  }
}
