<head>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <header>
    <div class="sticky">
      <div class="img">
        <img [src]="projLogo" alt="logo" />
      </div>
      <input type="checkbox" id="nav-check" hidden />
      <nav>
        <ul>
          <li *ngIf="role === 'Admin' || role === 'User' || role === 'Doctor'">
            <p [routerLink]="['home']" routerLinkActive="active">Home</p>
          </li>
          <li *ngIf="role === 'User'">
            <p [routerLink]="['ourdoctor']" routerLinkActive="active">
              Our Doctors
            </p>
          </li>
          <li *ngIf="role === 'Doctor'">
            <p [routerLink]="['manage']" routerLinkActive="active">
              Appointments
            </p>
          </li>
          <li *ngIf="role === 'Admin'">
            <p routerLink="admin" routerLinkActive="active">Admin</p>
          </li>
          <li *ngIf="role === 'Doctor'">
            <p routerLink="profile" routerLinkActive="active">My Profile</p>
          </li>
          <li>
            <p
              (click)="logout()"
              style="cursor: pointer"
              *ngIf="role === 'Admin' || role === 'User' || role === 'Doctor'"
            >
              Logout
            </p>
          </li>
        </ul>
      </nav>
      <label for="nav-check" class="toggle">
        <div></div>
        <div></div>
        <div></div>
      </label>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>
