<head>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<div class="container">
  <div class="img-content">
    <div>
      <h6>FOR BETTER HEALTHCARE</h6>
      <h3>Quality Healthcare Solution for all</h3>
      <p>
        We always help to provide proper treatment for all to get the proper
        cure and healthy life which is the most focusing thing for us
      </p>
    </div>
  </div>
  <div class="main-con">
    <div class="side">
      <div class="side1">
        <div><img src="../../assets/images/emergency.png" alt="" /></div>
        <div>
          <div>
            <h5>Emergency Services</h5>
          </div>
          <div>
            <p>24/7 Emergency service</p>
          </div>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="side2">
        <div><img src="../../assets/images/doc.png" alt="" /></div>
        <div>
          <div>
            <h5>Qualified Doctors</h5>
          </div>

          <div><p>Best Doctors collection</p></div>
        </div>
      </div>
      <div class="vertical-line"></div>

      <div class="side3">
        <div><img src="../../assets/images/report.png" alt="" /></div>
        <div>
          <div>
            <h5>Get Online Report</h5>
          </div>
          <div><p>We mail you report</p></div>
        </div>
      </div>
    </div>
    <div class="content-1">
      <div>
        <h5>WELCOME TO RK</h5>
      </div>
      <div>
        <h3>Consult with our best Doctor for proper Treatment</h3>
      </div>
    </div>
  </div>
  <div class="content-2">
    <div class="img-1">
      <img src="../../assets/images/doctor1.png" alt="doctor" />
    </div>
    <div class="con">
      <h4 class="change">
        We always Ensure best Medical treatment for your Health
      </h4>
      <p class="change">
        We always help to provide treatment for all to get the proper cure and
        healthy life which is the cooperate thing for us. Our main priority
        services are
      </p>
      <div class="grid">
        <div>
          <i class="fa fa-arrow-right"></i>&nbsp; Covid 19 patient support
        </div>
        <div><i class="fa fa-arrow-right"></i>&nbsp; Experienced Doctor</div>
        <div><i class="fa fa-arrow-right"></i>&nbsp; Easy Online Booking</div>
        <div><i class="fa fa-arrow-right"></i>&nbsp; Latest Machinery</div>
      </div>
    </div>
  </div>
  <div class="content-1 con-3">
    <div>
      <h5>Our Services</h5>
    </div>
    <div>
      <h3>Different type of Department We have for your Healthcare</h3>
    </div>
  </div>
  <div class="content-4">
    <div class="img-1">
      <img src="../../assets/images/doctor2.png" alt="doctor" />
    </div>
    <div class="grid sub-con">
      <div class="box">
        <img src="../../assets/images/ChildHealth.png" alt="" />
        <h4>Child Health</h4>
        <p>
          The Child Health department at our hospital specializes in providing
          comprehensive healthcare services for infants, children, and
          adolescents.
        </p>
      </div>
      <div class="box">
        <img src="../../assets/images/Teeth.png" alt="" />
        <h4>Dental Care</h4>
        <p>
          Our experienced dentists provide routine dental check-ups, cleanings,
          and preventive treatments to prevent dental problems
        </p>
      </div>
      <div class="box">
        <img src="../../assets/images/Neurology.png" alt="" />
        <h4>Nephrology</h4>
        <p>
          The Nephrology department at our hospital focuses on the diagnosis and
          treatment of kidney-related diseases and disorders.
        </p>
      </div>
      <div class="box">
        <img src="../../assets/images/brain.png" width="60px" alt="" />
        <h4>Neurology</h4>
        <p>
          We are dedicated to providing comprehensive care and advanced
          treatment options for patients with neurological conditions.
        </p>
      </div>
    </div>
  </div>
  <div class="review-head">
    <p>Testimonials</p>
    <h3>Our patients say about our Services</h3>
  </div>
  <div class="review">
    <div class="review-img">
      <img src="../../assets/images/review.png" alt="" />
    </div>
    <div class="review-con">
      <div class="reviewer">
        <img src="../../assets/images/quote.png" width="60px" alt="" />
        <div id="content" class="content">
          <h3 id="Name"></h3>
          <p id="description"></p>
        </div>

        <div class="button-container">
          <button
            id="previous-btn"
            class="btn btn-left"
            (click)="showPrevious()"
          >
            <i class="fa fa-arrow-left"></i>
          </button>
          <button id="next-btn" class="btn" (click)="showNext()">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li>About us</li>
            <li>Our Services</li>
            <li>Privacy policy</li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Get help</h4>
          <ul>
            <li>FAQ</li>
            <li>Booking status</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow us</h4>
          <div class="social-links">
            <a
              href="https://www.facebook.com/profile.php?id=100034832349920&mibextid=ZbWKwL"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a
              href="https://twitter.com/rajarajeesh11?t=n2R00XEa00LJeeZ-V7bqUA&s=09"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a href="https://instagram.com/__twinbros__?igshid=MzNlNGNkZWQ4Mg=="
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
