<body>
  <div class="form-container">
    <h2>Update</h2>
    <form>
      <label for="id">Doctor Id:</label>
      <input id="Id" name="Id" [(ngModel)]="Id" required />
      <label for="name">Doctor Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="List.doctorName"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label for="Cost">Specialization:</label>
      <input
        id="specialization"
        name="specialization"
        [(ngModel)]="List.specialization"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label for="perday">Experience:</label>
      <input
        type="number"
        id="experience"
        name="experience"
        [(ngModel)]="List.experience"
        [ngModelOptions]="{ standalone: true }"
        required
      />

      <button (click)="UpdateById()">Update</button>
    </form>
  </div>
</body>
