@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  position: fixed;
}

.container {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  margin-left: 50px;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img img {
  width: 700px;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
form {
  width: 360px;
}
.img-avatar img {
  width: 100px;
}
.avatar {
  width: 100px;
}
form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}
.input-div {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div.focus .i i {
  color: rgb(6, 57, 112);
}
.one {
  margin-top: 0;
}
.two {
  margin-bottom: 4px;
}
.three {
  margin-bottom: 4px;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div div {
  position: relative;
  height: 45px;
}
.input-div div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}
input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #555;
}
button {
  display: block;
  width: 100%;
  height: 50px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: rgb(6, 57, 112);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-seri;
  background-size: 200%;
  text-transform: uppercase;
}

.dialog-box {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.dialog-box i {
  padding-top: 20px;
  float: right;
}
.dialog-box img {
  width: 55px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.dialog-box h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 0 10px;
}
.dialog-box button {
  width: 100%;
  padding: 10px;
  background-color: rgb(6, 57, 112);
  color: #fff;
  outline: none;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and(max-width:1050px) {
  .container {
    grid-gap: 5rem;
  }
  .nav {
    width: 1050px;
  }
}
@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
  .nav {
    width: 1000px;
  }
}
@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .login-container {
    justify-content: center;
    margin-right: 100px;
  }
  .nav {
    width: 900px;
  }
}
